.Feature{ 
    position:absolute;
    padding:0;
    top:50px;
    width:75%;
    height:700px;
}
  
#Feature1, #Feature2, #Feature3{
    position:relative;
}

.Title{
    position:absolute;
    top:20px;
    left:40%;
    z-index: 20;
    width: 40%;
    height: 30px;
    font-size: 22px;
    margin: 0;
    color: #d38236;
    text-align: left;
    text-shadow:1px 1px #454a64;
}

#Feature2 .Title{
    left:30%;
}


#Map1, #Map2, #Map3{
    z-index: 10;
    position:absolute;
    height:700px;
    width:100%;
}


 
/* Feature 1 */


.TimeLine {
    position:absolute;
    z-index: 15;
    top: 620px;
    left:35%;

    width: 30%;
    height: 50px;
    padding: 10px;
    background-color: transparent;
    text-align: center;
    color: #454a64;
}
.loading {
    color:#454a64;
    font-size:10px;
    display: none;
}

.TimeLine  p {
    font-size: 15px;
    margin: 0;
    font-family:800;
    color:#d38236; 
    text-shadow:0.7px 0.7px #454a64;
}

.TimeLine  #time {
    font-size: 14px;
    display: block;
    margin-bottom: -7px;
}

.TimeLine #slider{
    -webkit-appearance: none;
    background-color: transparent;
    width: 100%;
}

.TimeLine  #slider:focus {
    outline: none; /*Cancel the outline when selected*/
}

.TimeLine  #slider::-webkit-slider-runnable-track {
    height:3px;
    background:linear-gradient(to right,#d2d5d500, #7f849e  30%,  #454a64 , #7f849e  70%,#d2d5d500);
    /* box-shadow: 0.5px 0.5px 0.5px #5c5b59; */
}

.TimeLine #slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    margin-top: -3.5px; /*center the thumb*/
    background: #d38236; 
    border-radius: 50%; /*round shape thumb*/
    border: 1.5px #bbd9df98; 
    box-shadow: 1px 1px #454a64; 
}

.Gender{
    position:absolute;
    width:13%;
    top:550px;
    z-index:15;
}

.Gender p{
    height:35px;
    font-size:23px;
    background:linear-gradient(to right, #a55407 30%, #454a6400);
    color:#f1ece4;
    padding:5px 0 5px 10px;
    margin:5px 0 5px 0;
    text-shadow:1.5px 1.5px #454a64;
    overflow: hidden;
}

.Gender #A{
    height:35px;
    font-size:23px;
    background:linear-gradient(to right, #454a64 30%, #454a6400);
    color:#f1ece4;
    padding:5px 0 5px 10px;
    margin:5px 0 5px 0;
    text-shadow:1.5px 1.5px #a55407;
}

.Gender p:hover{
    background:linear-gradient(to right, #454a64 30%, #454a6400);
    color:#f1ece4;
    text-shadow:1.5px 1.5px #a55407;
}

/* Feature 1 */














/* Feature 2 */

.Tooltip span img {
    float:left;
}
.Tooltip {
    background: #a55307d8;
    color:#f1ece4;
    border: 1.5px solid #454a64;
    font-family:"Abhaya Libre" ;
  }
.leaflet-tooltip-left.Tooltip::before {
    border-left-color: #454a64;
}
.leaflet-tooltip-right.Tooltip::before {
    border-right-color: #454a64;
}

/* Feature 2 */





/* Feature 3 */

#scrollable{
    height: 150px; 
    /* border: 2px silver solid; */
    background-color: transparent;
    position: absolute;
    padding: 20px;
    color: #f1ece4;
    border-width: 15px;
    border-color: maroon;
    border-style: solid;
}
#scrollable h2{
    display: inline;
} 

#scrollable select,#scrollable select:active,#scrollable select:checked {
    border: 1px dimgrey solid;
    color: dimgray
}
 
#scrollable select option:active, #scrollable select option:default, #scrollable select option::selection {
      border: 1px dimgrey solid;
      color: dimgray
}

  
#scrollable a, #scrollable a:link,#scrollable a:visited{
   color: #f1ece4;
   text-decoration: none;
}
 
.RGBtext{
    position: absolute;
    top:650px;
    height: 50px;
    color: #f1ece4;
    padding: 5px 20px 5px 20px;
}

.RGBtext a:link{
    text-decoration: none;
    color:#454a64 ;
}

/* image gallery */
#imagegallery {
   overflow:scroll;
   position: relative;
   top: 150px;
   height: 500px;
   margin: 0;
   
   /*border: 1px dimgrey solid;
   background-color: green;*/
}
 
#imagegallery img:hover {
   border: 1px solid silver;
}
 
#imagegallery img{
   width: 100%;
   vertical-align: top;
   display: inline-block;
}

#imagegallery a{
    width: 50%;
    white-space: nowrap;
    display: inline-block;
 }
  

 .Popup .leaflet-popup-tip{
    background: #454a64;
 }
 .Popup .leaflet-popup-content-wrapper {
    background: #a55307d8;
    color:#f1ece4;
    text-align: center;
    border: 1.5px solid #454a64;
    font-family:"Abhaya Libre" ;
}

/* Feature 3 */




#Feature1{
    z-index: 14;
}

#Feature2{
    z-index: 12;
}

#Feature3{
    z-index: 10;
}




